@media (max-width:1024px) {
    .gallery{
        &__grid{
            justify-content: center;
            column-gap: 19px;
            row-gap: 20px;
        }
        &__item{
            height: 220px !important;
        }
    }
}
@media (max-width:768px) {
    .gallery{
        &__grid{
            column-gap: 30px;
        }
        &__item{
            width: 46% !important;
        }
    }
}
@media (max-width:425px) {
    .gallery{
        &__title{
            font-size: 30px;
        }
        &__item{
            width: 95% !important;
        }
        .lightbox__next{
            right: 2px;
        }
        .lightbox__prev{
            left: 2px  ;
        }
        .lightbox__close, .lightbox__prev, .lightbox__next{
            width: 35px;
            height: 35px;
        }
          .lightbox__prev, .lightbox__next svg{
            font-size: 20px;
         }
    }
}
@media (max-width:320px) {
    .gallery{
        &__item{
            height: 170px !important;
        }
    }
}